<form method="post" action="{{ path('competitions_desinscrire', {'id': competition.users[0].id}) }}" onsubmit="return confirm('Voulez-vous vraiment vous désinscrire de cette compétition');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ competition.users[0].id) }}">
    <button class="btn btn-block btn-danger">Se désinscrire</button>
</form>
