{% extends 'base.html.twig' %}

{% block title %}New UserArme{% endblock %}

{% block body %}

<div class="container">
    <h1 class="text-center bg-light mt-5" style="color:#2196f3;padding:20px;border:1px solid #2196f3;">Créer une nouvelle arme</h1>

    {{ include('user_arme/_form.html.twig') }}

</div>
{% endblock %}
