{% extends 'base.html.twig' %}

{% block title %}Nouvel Entrainement{% endblock %}

{% block body %}

<div class="container">
    <h1 class="text-center bg-light mt-5" style="color:#2196f3;padding:20px;border:1px solid #2196f3;">Créer un nouvel entrainement</h1>

    {{ include('entrainement/_form.html.twig') }}

</div>

{% endblock %}
