{% extends 'base.html.twig' %}

{% block title %}Edit UserObjectifs{% endblock %}

{% block body %}
    <h1>Edit UserObjectifs</h1>

    {{ include('user_objectifs/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('user_objectifs_index') }}">back to list</a>

    {{ include('user_objectifs/_delete_form.html.twig') }}
{% endblock %}
